# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/

# Node
node_modules/
dist/

# VS Code
.vscode/

# Postman
.postman/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
